<!DOCTYPE html>
<html>
<head>
<meta http-equiv="cache-control" content="no-cache" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<title>{% block title %}Project Data Tracker{% endblock %}</title>
<meta name="description" content="The Project Data Tracker" />
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/main.css">
<!-- Optional theme -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
</head>
<style>
  a button{
    /*color: inherit !important;*/
    text-decoration: none !important;
  }
</style>
<script type="text/javascript"> 
function display_c(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct()',refresh)
}

function display_ct() {
var strcount
var x = new Date()
var x1= x.toString();
x1 = x1.replace(/\(.*?\)/g, ""); //discard time zone name
//insert \n between date and time
var x = document.getElementsByClassName("ct");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].innerHTML = x1;
    }

tt=display_c();
}
</script>
<body onload="display_ct();">
  <header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="/static/img/sample-small.png" width="70" height="70" style="position: relative; top: -10px" alt="">
      </a>
    </div>
    <nav class="collapse navbar-collapse" style="background-color:rgb(102, 234, 234);border:transparent;">
      <p class="navbar-text">Welcome to Project Data Tracker, {% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}!{% else %}.{% endif %}</p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Objects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/view/user/">User</a></li>
            <li><a href="/view/userinfo/">User Info</a></li>
            <li><a href="/view/defect/">Defect</a></li>
            <li><a href="/view/project/">Project</a></li>
            <li><a href="/view/iteration/">Iteration</a></li>
            <li><a href="/view/phase/">Phase</a></li>
            <li><a href="/view/action_log/">Action Log</a></li>
          </ul>
        </li>
        <li><a href="/admin/" class="help-icon">Admin</i></a></li>
        <li><a href="#" class="help-icon"><i class="fa fa-question"></i></a></li>
        <li>{% if user.is_authenticated %}<a href="/logout/">Logout</a>{% else %}<a href="/login/">Login</a>{% endif %}</li>
      </ul>
    </nav>
  </div>
</header>
<!-- Begin Body -->
<div class="container">
  <div class="row">
        <div class="col-md-12">
          <div role="tabpanel" class="tab-pane active" id="home">
                {% block content %} {% endblock %}
        </div>
    </div>
</div>



  </body>
  {% if request.user.groups.all.0.name == 'Developer' %}
  <div class="row" id="clock" style="display:none">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <img src="/static/img/pause.png" data-toggle="modal" data-target="#pauseModal" style="width:150px; height:150px;" id="pauseTimer" data-backdrop="static" data-keyboard="false">
      <!-- Trigger the modal with a button -->
      <div id="pauseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
              
            </div>
              <div class="modal-body" style="text-align: center">
                <h5 style="display: block; margin-left: auto; margin-right: auto;">You are currently away. Press to Resume</h5><br>
                <div class="row center-block">
                  <img src="/static/img/resume.png" id="resumeTimer" class="close" data-dismiss="modal" style="/* margin-top: 40px; */margin-right: 150px; display: block;">
                </div>
                <div class="row">
                <p style="text-align: center">
                  <h3>Current Time:</h3><br>
                  <h3 style="position: relative; top: -30px; line-height: 60%"><b><span class='ct' ></span></b></h3>
                </p>
              </div>
              </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <h6 class="text-center">Current time</h6>
      <h5 class="text-center"><span class='ct' ></span></h5>
  </div>
  </div>
  {% endif %}
</div>

</html>