{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
<style>
	img{display: block; margin: 0 auto;}
</style>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Development Mode</h1></div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="projectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Switch Project
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">Project_1</a></li>
					<li><a href="#">Project 2</a></li>
					<li><a href="#">Project 3</a></li>
					<li><a href="#">Project 4</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="modeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Switch Mode
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="/defect_form/">Defect Removal Mode</a></li>
					<li><a href="/view/defect/">Management Mode</a></li>
				</ul>
			</div>
		</div>
	</div>

		{% if user.is_authenticated %}
	<section class="content"> <!--modes buttons-->
			<img src="/static/img/pause.png" data-toggle="modal" data-target="#pauseModal1" id="pauseTimer" data-backdrop="static" data-keyboard="false"/>
			<div id="pauseModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
              <h4 class="modal-title">You are currently away. Press to Resume</h4>
            </div>
              <div class="modal-body">
                <img src="/static/img/resume.png" id="resumeTimer" class="close" data-dismiss="modal" style="margin-top: 40px; margin-right: 150px;">
                Current Time:  {{time}}
              </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

			<!-- Trigger the modal with a button -->
			
		<h3 class="text-center">Current time</h3>
			<h1 class="text-center">{{time}}</h1>

		

	</section>
	{% endif %}

{% endblock %}