{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){
	var x = document.getElementById("clock");
	x.style.display = "block";
});
</script>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Management Mode: <small>Defect Record</small></h1></div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<a href="/switch_project/{{ project.id }}/"><button type="button" class="btn btn-default">Switch Project</button></a>
		</div>
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="modeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Switch Mode
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="/defect_form/{{ project.id }}/">Defect Removal Mode</a></li>
					<li><a href="/developmentMode/{{ project.id }}/">Development Mode</a></li>
				</ul>
			</div>
		</div>
	</div>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

 {% endblock %}