{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

{% if error_message %}
<div class="panel panel-danger">
  <div class="panel-body">
		<p class="errornote">{{ error_message }}</p>
  </div>
</div>
{% endif %}

<!-- Text input-->
<div class="form-group">
{% csrf_token %}
  <label class="col-md-4 control-label" for="login">Login Email</label>  
  <div class="col-md-4">
  <input id="login" name="username" type="text" placeholder="Enter email address" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter password" class="form-control input-md">
    <span class="help-block">help</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="loginButton"></label>
  <div class="col-md-4">
    <button id="loginButton" name="loginButton" class="btn btn-primary">Login</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}