{% extends "base.html" %}

{% block content %}

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Modify Project</h1></div>
		<div class="col-md-6"></div>
	</div>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Project Name:</div>
		<div class="col-md-8">{{ project_name }}</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current SLOC:</div>
		<div class="col-md-8">{{ project_SLOC }}</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current Phase:</div>
		<div class="well well-lg col-md-8">
			The project is currently in {{ current_phase }}.<br>
			There are ... phase(s) remaining in this project.<br><!--pass in phase sequence & phase#-->
			No phase has been initialized yet.<br>
			Phase cannot end when there is ongoing iteration.<br>
			Number of iterations in this phase has reached max.<br>
			Number of phases in this project has reached max.<br>
			<div class="row" style="margin: 10px 0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#startPhaseModal">Start Phase</button>

				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row" style="margin: 10px 0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#closePhaseModal">Close Phase</button>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row" style="margin: 10px 0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#closeProjectModal">Close Project</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current Iteration:</div>
		<div class="well well-lg col-md-8">
			The project is currently in {{ current_iteration }}.<br>
			There are ... iteration(s) remaining in this project.<br><!--pass in iteration sequence & iteration#-->
			There is no ongoing iteration.<br>
			Cannot start iteration until new phase is initialized.<br>
			<div class="row" style="margin: 10px 0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#startIterationModal">Start Iteration</button>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row" style="margin: 10px 0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#closeIterationModal">Close Iteration</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-info"><a href="">Return to Project List</a></button>
		</div>
		<div class="col-md-8"></div>
		<div class="col-md-2">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#closeProjectModal">Close Project</button>
		</div>
	</div>

	<div id="startPhaseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Start Phase</h4>
      </div>
      <div class="modal-body">
        <section>
        	<p>Please input phase name to proceed.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="Phase name" aria-describedby="basic-addon1">
			</div>
        </section><br><hr>
        <section>
        	<p><b>Optional:</b><br>
        		Iteration can now be initialized. Please input iteration name.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="Iteration name" aria-describedby="basic-addon1">
			</div>
        </section><br><br>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="button" class="btn btn-warning btn-block"><a href="">Start Phase</a></button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="closeProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Close Project</h4>
      </div>
      <div class="modal-body">
        	<p>Project has not finished the intended number of phases. <br>Are you sure you would like to abort this project ?</p>
      </div>
      <div class="row" style="margin-bottom: 20px">
      	<div class="col-md-4"></div>
      	<div class="col-md-4">
      		<button type="button" class="btn btn-warning btn-block"><a href="">ABORT PROJECT</a></button>
      	</div>
      	<div class="col-md-4"></div>
      </div>
      <div class="row" style="margin-bottom: 20px">
      	<div class="col-md-4"></div>
      	<div class="col-md-4">
      		<button type="button" class="btn btn-primary btn-block"><a href="" style="color:white">Cancel</a></button>
      	</div>
      	<div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>

<div id="startIterationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Start Iteration</h4>
      </div>
      <div class="modal-body">
        	<p>Please input iteration name to proceed.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="iteration_name" aria-describedby="basic-addon1">
			</div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="button" class="btn btn-warning btn-block"><a href="">Start Iteration</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="closeIterationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">End Iteration</h4>
      </div>
      <div class="modal-body">
        	<p>Please input SLOC to proceed.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="SLOC" aria-describedby="basic-addon1">
			</div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="button" class="btn btn-warning btn-block"><a href="">End Iteration</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
	

 {% endblock %}