{% extends "base.html" %}

{% block content %}
<script>console.log("{{ is_last_phase }}; {{ is_last_iteration }}");</script>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Modify Project</h1></div>
		<div class="col-md-6"></div>
	</div>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Project Name:</div>
		<div class="col-md-8">{{ project_name }}</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current SLOC:</div>
		<div class="col-md-8">{{ project_SLOC }}</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current Phase:</div>
		<div class="well well-lg col-md-8">
      {% if is_active %}
  			The project is currently in {{ current_phase }}.<br>
        {% if is_last_phase == True %}
        Number of phases in this project has reached max.<br>{% endif %}
      {% else %}
        The project has been closed.<br>
      {% endif %}
      <div class="row" style="margin: 10px 0" id="switchPhaseBtn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#switchPhaseModal">Switch New Phase</button>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row" style="margin: 10px 0" id="closeProjectBtn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#closeProjectModal" id="closeProject">Close Project</button>
        </div>
        <div class="col-md-4"></div>
      </div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row"> <!--header and switch project button-->
		<div class="col-md-2">Current Iteration:</div>
		<div class="well well-lg col-md-8">
      {% if is_active %}
  			The project is currently in {{ current_iteration }}.<br>
        {% if is_last_phase == True %}
        Number of phases in this project has reached max.<br>{% endif %}
      {% else %}
        The project has been closed.<br>
      {% endif %}
      <div class="row" style="margin: 10px 0" id="switchIterationBtn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#switchIterationModal">Switch New Iteration</button>
        </div>
        <div class="col-md-4"></div>
      </div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<a href="/project/"><button type="button" class="btn btn-info">Return to Project List</button></a>
		</div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <a href="/report/project/{{ project_id }}/"><button type="button" class="btn btn-success btn-block" id="generateReportBtn" style="display:none">Generate Project Report</button></a>
    </div>
    <div class="col-md-2"></div>
		<div class="col-md-2">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#closeProjectModal">Close Project</button>
		</div>
	</div>
  <div class="row">
    <br>
  </div>

	<div id="startPhaseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Start Phase</h4>
      </div>
      <div class="modal-body">
        <section>
        	<p>Please input phase name to proceed.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="Phase name" aria-describedby="basic-addon1" id="startPhase01">
			</div>
        </section><br><hr>
        <section>
        	<p><b>Optional:</b><br>
        		Iteration can now be initialized. Please input iteration name.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="Iteration name" aria-describedby="basic-addon1" id="startPhase02">
			</div>
        </section><br><br>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="button" class="btn btn-warning btn-block" id="startPhase">Start Phase</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="switchPhaseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <form action="/api/switchPhase/{{ project_id }}/" method="POST">

{% csrf_token %}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Switch to New Phase</h4>
      </div>
      <div class="modal-body">
        <p>Please input SLOC of closing iteation.</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SLOC" aria-describedby="basic-addon1" id="switchIteration01" name="sloc">
        </div>
      </div>
      <div class="modal-footer row">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning btn-block" id="switchPhase">Switch New Phase</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<div id="abortProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Close Project</h4>
      </div>
      <div class="modal-body">
        	<p>Project has not finished the intended number of phases. <br>Are you sure you would like to abort this project ?</p>
      </div>
      <div class="row" style="margin-bottom: 20px">
      	<div class="col-md-4"></div>
      	<div class="col-md-4">
      		<button type="button" class="btn btn-warning btn-block" id="abortProject">ABORT PROJECT</button>
      	</div>
      	<div class="col-md-4"></div>
      </div>
      <div class="row" style="margin-bottom: 20px">
      	<div class="col-md-4"></div>
      	<div class="col-md-4">
      		<button type="button" class="btn btn-primary btn-block" data-dismiss="modal"><a href="" style="color:white">Cancel</a></button>
      	</div>
      	<div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>

<div id="startIterationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Start Iteration</h4>
      </div>
      <div class="modal-body">
        	<p>Please input iteration name to proceed.</p>
        	<div class="input-group">
				<input type="text" class="form-control" placeholder="iteration_name" aria-describedby="basic-addon1" id="startIteration01">
			</div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="button" class="btn btn-warning btn-block" id="startIteration">Start Iteration</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="switchIterationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <form action="/api/switchIteration/{{ project_id }}/" method="POST">
{% csrf_token %}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">Switch to New Iteration</h4>
      </div>
      <div class="modal-body">
        <p>Please input SLOC of closing iteation.</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SLOC" aria-describedby="basic-addon1" id="switchIteration01" name="sloc">
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning btn-block" id="switchIteration">Switch to New Iteration</button>
        </div>
      </div>
      </div>
      </form>
    </div>
  </div>
</div>

<div id="closeProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <form action="/api/closeProject/{{ project_id }}/" method="POST">

{% csrf_token %}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false">&times;</button>
        <h4 class="modal-title">End Iteration</h4>
      </div>
      <div class="modal-body">
        	<p>Please input SLOC to proceed.</p>
        	<div class="input-group">
  				  <input type="text" class="form-control" placeholder="SLOC" aria-describedby="basic-addon1" id="closeProject01">
  			  </div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-4">
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
        	<button type="submit" class="btn btn-warning btn-block" id="closeProject">Close Project</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
  var is_last_phase = "{{ is_last_phase }}";
  var is_last_iteration = "{{ is_last_iteration }}";
  var is_active = "{{ is_active }}"
  if (is_last_phase == "True" || is_last_iteration == "False")
    $("#switchPhaseBtn").hide();
  if (is_last_phase == "False" || is_last_iteration == "False")
    $("#closeProjectBtn").hide();
  if (is_last_iteration == "True")
    $("#switchIterationBtn").hide();
  if (is_active == "False") {
    $("#switchPhaseBtn").hide();
    $("#closeProjectBtn").hide();
    $("#switchIterationBtn").hide();
    $("#generateReportBtn").show();
  }

</script>
	

 {% endblock %}