{% extends "base.html" %}

{% block content %}
	
	<h1>{{ report_title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table class="table">
  {% for r in table %}
  <tr>
    {% for x in r %}
    <td>
    	{{ x }}
    </td>
  {% endfor %}
  </tr>
  {% endfor %}
</table>
<!-- <img src="/media/{{ post.photo_of_item }}" style="height:200px; width: 200px;"/>
<p>Product description: {{ post.post_description }}</p>
<p>Current bid price: {{ post.price }}</p>
<p>Auction ends on: {{ post.end_date }} </p> -->
{% for y in yield_arr %}
<div class="row">
  <div class="col-xs-12">{{ y }}%</div>
</div>
{% endfor %}

          <button type="button" class="btn btn-primary" ><a href="/project/{{ project.pk }}/" style="color:white">Back to Project</a></button>


 {% endblock %}