{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

	<div class="row"> <!--put project information inside this row-->
		<div class="col-md-2">
			<p>Selected Project: <br> Team: </p>
		</div>
		<div class="col-md-2">
			<p>{{ projectName }} <br> {{ teamName }}</p>
		</div>
		<div class="col-md-2">
			<p>Current iteration: <br> Current Phase: </p>
		</div>
		<div class="col-md-2">
			<p>{{ currentItr }} <br> {{ currentPhase }}</p>
		</div>
		<div class="col-md-2">
			<p>Total lapsed time: <br> Last session: </p>
		</div>
		<div class="col-md-2">
			<p>{{ lapsedTime }} <br> {{ lastSession }}</p>
		</div>
	</div>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-5"><h1>Select Mode:</h1></div>
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<a href="/switch_project/{{ project.id }}/"><button type="button" class="btn btn-default">Switch Project</button></a>
		</div>
	</div>

		{% if user.is_authenticated %}
	<section> <!--modes buttons-->
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				<a href="/developmentMode/{{ project.id }}/"><button type="button" class="btn btn-primary btn-block btn-lg">Development Mode</button></a>
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<a href="/defect_form/{{ project.id }}/"><button type="button" class="btn btn-info btn-block btn-lg">Defect Removal Mode</button></a>
			</div>
			<div class="col-md-3"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6">
				<a href="/view_defect/{{ project.id }}/"><button type="button" class="btn btn-warning btn-block btn-lg">Management Mode</button></a>
			</div>
			<div class="col-md-2"></div>
		</div>
			

		{% endif %}

	</section>


{% endblock %}