{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

<script>
$(document).ready(function(){
	var x = document.getElementById("clock");
	x.style.display = "block";
});
</script>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Management Mode</h1></div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="projectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Switch Project
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					{% for project in projects %}
					<li><a href="#">{{project.project_title}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="modeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Switch Mode
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="/defect_form/">Defect Removal Mode</a></li>
					<li><a href="/developmentMode/">Development Mode</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-1"></div>
	<div class="col-md-10">
	{% render_table defect %}
	</div>
	<div class="col-md-1"></div>
	
{% endblock %}