{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}

<style>
	.btn-warning{
		color: white !important;
	}
</style>

	<div class="row"> <!--header and switch project button-->
		<div class="col-md-6"><h1>Project List</h1></div>
		<div class="col-md-4"></div>

		<div class="col-md-2">
			{% if request.user.groups.all.0.name == 'Manager' %}
				<a href="/project_form/"><button type="button" class="btn btn-warning">Create New Project</button></a>
			{% elif request.user.groups.all.0.name == 'Administrator' %}
				<a href="/welcomeAdmin/"><button type="button" class="btn btn-warning">Back to Welcome Page</button></a>
			{% endif %}
			
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		{% render_table project %}
		</div>
	</div>
{% endblock %}